body
{
    background-color: rgb(203, 246, 246);
    padding-top: 20px;
}

.register
{
    text-align: center;
}
.form
{
    text-align: center;
    width: 400px;
    margin: auto;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 5%;
}
.logo
{
    width: 50px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
.inputfields
{
    padding-top: 25px;
    padding-bottom: 5px;
    width: 300 ;
    border-bottom: 1px solid black;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}
#submit
{
    padding:10px;
    border: none;
    background-color: rgb(236, 118, 131);
    border-radius: 10%;
}
